
.top
{
        background-color: #1A374D;
        position: relative;
        padding-top: 100px;



}

.middle-container
{
        background-color: #B1D0E0;
        padding: 100px;

}

.bottom-container
{
        background-color: #406882;
        padding: 50px 0px 20px;

}

.top-cloud
{
        position: absolute;
        right: 300px;
        top: 50px;
}

.bottom-cloud
{
        position: absolute;
        left: 300px;
        bottom: 300px;

}
body
{
        margin: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: #40515E;
}

h1
{
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        margin: 50px 0 auto 0;
        color: #B1D0E0;
}

h2
{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
color: #B1D0E0;
}

h3
{
font-family: 'Montserrat', sans-serif;
color: #1A374D;
}

.profile
{
        padding: 100px;
        width:50%;
        margin: auto auto 30px auto;
        line-height: 2;
}


.skill-row
{
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
        line-height: 2;
}

hr {
        background-color: #B1D0E0;
        border-style: none none dotted;
        border-width: 10px;
        border-color: #406882;
        width: 5%;
   }

.skill-img
{
width:25%;
float: left;
margin-right: 30px;
}

.skill-img2
{
width:25%;
float: right;
margin-left: 30px;

}

.my-skills
{
padding: 30px;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
color: #1A374D;

}

.btn {
  background: #406882;
  background-image: -webkit-linear-gradient(top, #406882, #6998AB);
  background-image: -moz-linear-gradient(top, #406882, #6998AB);
  background-image: -ms-linear-gradient(top, #406882, #6998AB);
  background-image: -o-linear-gradient(top, #406882, #6998AB);
  background-image: linear-gradient(to bottom, #406882, #6998AB);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 30px auto 30px auto;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.lets-chat
{
padding: 30px;
}

.copyright
{
color: #ffffff;
font-size: 0.75rem;
padding: 10px;
}

.footer-link
{
font-family: 'Montserrat', sans-serif;
color: #1A374D;
margin: 10px 20px;
text-decoration: none;
}

.footer-link:hover
{
color:#B1D0E0
}